#content {
  margin-top: 70px;
  margin-bottom: 70px;
}

.footer div {
  padding-top: 15px;
  padding-bottom: 15px;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 0 50px white;
  -webkit-text-fill-color: #555;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 0 50px white;
}

.customer-box {
  border: 1px solid black;
  margin: 10px;
  padding: 0;
  width: 200px;
}

.cust-name-box {
  color: white;
  background-color: #337ab7;
  font-size: 14pt;
}

.cust-info-box {
  background-color: LightGray;
}

th {
  color: white;
  background-color: #337ab7;
}

tr.grand-total {
  background-color: rgba(173,216,230,0.7);  /* LightBlue */
  font-weight: bold;
}
